.cadastro-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.cadastro-container .logo {
  width: 150px; 
  height: auto;
  margin: 0 auto 20px; 
}


.cadastro-container h2 {
  margin-bottom: 20px;
}

.cadastro-container form {
  display: flex;
  flex-direction: column;
}

.cadastro-container input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.cadastro-container button {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cadastro-container button:hover {
  background-color: #218838;
}

.cadastro-container .error-message {
  color: #dc3545;
  margin-top: 20px;
}

.cadastro-container p {
  margin-top: 20px;
}

.cadastro-container p a {
  color: #007bff;
}
