.alinhamentoCards,.alinhamentoMenu2 {
    display: flex;
    grid-template-columns: repeat(4, 4fr);
    grid-gap: 10px;
     
}
.alinhamento {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 10px; 
}

.alinhamento > input{
    display: block; 
    width: 99%; 
}
.alinhamento > select {
    display: block; 
    width: 99%; 
}
.logoVenda{
    width: 1.79rem;
    height: 1.79rem;
}
.btn-success,.btn-error{
    color: #fff;
}
.corTexto{
    color: #00a96e;
}
.logoMenu{width: 165px;height: 209px;position: relative;top: -8vh;}

.alinharCamposModal{
    grid-template-columns: repeat(3, 3fr);
}

.alert-success,.alert-error{
    color: #fff;
}
.logoConfig{
    width: 2rem;
    height: 2rem;
}
.configList{
    position: relative;
    top: 8rem;
}
.botoesAlterarParametros{
    position: relative;
    left: 24em;
    bottom: 3.5em;
    width: 5rem;
}
.perfil{
    position: relative;
    left: 15rem;
}
.perfil>h1{
    position: relative;
    right: 0em;
    width: 90em;
}
.perfil>p{
    position: relative;
    
}
.verMais{
    position: relative;
    left: 28em;
    top:1em;
}
.avatarHistorico{
    left: 12rem;
    bottom: 2em;
}
.custom-dropdown .p-dropdown-label {
    border-radius: 8px;
    border: 1px solid #ccc;
}

.custom-dropdown .p-dropdown-trigger {
    border-radius: 8px;
    position: relative;
    left: 3em;
    width: 0em;
}

.dropdown-container {
    padding-right: 1rem;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
    background: rgb(5 167 71 / 24%);
}

.p-dropdown .p-dropdown-trigger {
    border-radius: 10px !important;
    border-color: green !important; 
}

.join>.btn{
    background-color:transparent;
    border: none;
}
.join{
    position: relative;
    left: 30em;
    display: inline;
}
.alinharItemTabela{
    text-align: center
}