.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  padding: 10px;
  background-color: #00a96e; /* Verde */
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #007b4d; /* Verde mais escuro ao passar o mouse */
}

.login-container .error-message {
  text-align: center;
  color: #dc3545; /* Vermelho */
  margin-top: 20px;
}

.login-container p {
  text-align: center;
  margin-top: 20px;
}

.login-container p a {
  color: #007bff; /* Azul */
}
