.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../../img/wallpaper.jpg");
  background-size: cover;
  filter: brightness(70%);
  transition: filter 0.5s ease;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.loading.active {
  opacity: 1;
}

.loading::before {
  content: "\u{1F4A5}";
}

.login-container {
  position: relative;
  max-width: 400px;
  margin: 10vh auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.login-container.transitioning {
  transform: scale(0.9);
  opacity: 0;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.login-container form.resetting {
  opacity: 0;
}

.login-container form input,
.login-container form button {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 24px);
  box-sizing: border-box;
}

.login-container form button {
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.login-container form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.login-container form button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.login-container form .error {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

.login-container form p {
  margin-top: 10px;
  font-size: 14px;
}

.login-container form p a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.login-container form p a:hover {
  color: #0056b3;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #28a745;
  font-size: 32px;
  text-align: center;
  border-radius: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: color 0.3s, font-size 0.3s;
}

.login-container input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: calc(100% - 24px);
  box-sizing: border-box;
}

.login-container input:focus {
  border-color: #28a745;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
  outline: none;
}

.login-container button {
  margin-top: 15px;
  padding: 12px 24px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 92%;
  box-sizing: border-box;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.login-container p {
  margin-top: 15px;
  color: #555;
  font-size: 16px;
}

.login-container p a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.login-container p a:hover {
  color: #0056b3;
}

.login-container img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 auto 15px;
  display: block;
  border-radius: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #a3fdb7;
  transition: transform 0.5s ease;
}

.login-container img:hover {
  transform: rotate(360deg);
}

.zoom-out {
  transition: transform 2s ease;
  transform: scale(2);
}

.dark {
  filter: brightness(10%);
}

.error {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}

.transitioning {
  transition: transform 1s ease, opacity 1s ease;
  transform: scale(0.9);
  opacity: 0;
}

.link-transition {
  transition: color 0.3s;
}
